GITHUB_ACTION_REPOSITORY=UR_USER_NAME/UR_REPOSITORY
GITHUB_ACTION_SERVER_URL=https://github.com
RUNNER_OS=LINUX
FILE_HASH=ABRACADABRA
DEBUG_MODE=true
IS_SILENT=false
RUNNER_TEMP="/tmp/runner_temp"

# ACTIONS_CACHE_URL=http://localhost
# ACTIONS_RUNTIME_URL=http://localhost
